<ion-view>
  <ion-content>
    <div class="main-container">
      <img class="logo" src="./img/logo150.png" alt="Logo">
      <h1 class="app-name">Off The Truck</h1>
      <a class="main-button button-font" href="#/user">I'm hungry</button>
      <a class="main-button button-font" href="#/login">I'm serving</button>
      <a class="main-signup" href="#/signup"><span class="link-font">Sign Up</span></a>
      <div class="footer white-font">Provider to you by HR Bewildered-Cantaloupe</div>
    </div>
  </ion-content>
</ion-view>