<ion-view>
  <ion-content>
    <div class="main-container main-view">
      <img class="logo" src="./img/offthetrucklogo250x250.png" alt="Logo">
      <!-- Any visitor can click "I'm hungry" to see the map of trucks, no auth required. -->
      <div class="view-wrapper">
        <a href="#/user"><button class="button button-assertive full-width-button">I'm hungry</button></a>
        
      </div>
        <!-- Vendors who have created an account previously can login to add their truck to the map of currently serving trucks -->
      <!-- <a class="" href="#/login">I'm serving</button> -->
        <!-- New vendors who have not created an account before can sign up. -->
      <a class="main-centered-link" href="#/login">Are you a vendor? <span class="bold">Log in now!</span></a>
    </div>
  </ion-content>
</ion-view>
