 <ion-view>
  <ion-content>
    <div class="main-container">
      <img class="logo" src="./img/logo150.png" alt="Logo">
      <h1 class="app-name">Off The Truck</h1>
      <h2 class="app-name">New Vendor Registration</h2>
      <div class="lpform-container" ng-controller="UserController">
        <!-- This form is for new users. Form will not submit if you do not enter an email, but no alert shows up in the UI yet. -->
        <input class="lpform-input" type="text" ng-model = "user.truckname" placeholder="Truck Name">
        <input class="lpform-input" type="text" ng-model = "user.email" placeholder="Email">
        <input class="lpform-input" type="password" ng-model = "user.password" placeholder="Password">
        <input class="lpform-button" type="submit" ng-click="addUser(user)" value="Sign Up" />
        <a class="lpsignup" href="#/login"><span class="link-font">Existing User login</span></a>
      </div>
      <div class="footer white-font">Provided to you by HR Bewildered-Cantaloupe</div>
    </div>
  </ion-content>
</ion-view>

