<ion-view>
  <ion-content>
    <div class="main-container">
    <div ng-controller="TruckController">
     <div class="list">
       <label class="item item-input">
         <input type="text" ng-model = "user.username" placeholder="Username">
       </label>
       <label class="item item-input">
         <input type="text" ng-model = "user.email" placeholder="Email">
       </label>
       <label class="item item-input">
         <input type="password" ng-model = "user.password" placeholder="Password">
       </label>
       <input type="submit" class = "button" ng-click="addUser(user)" value="Submit" />
     </div>
   </div>

      <div class="footer white-font">Provider to you by HR Bewildered-Cantaloupe</div>
    </div>
  </ion-content>
</ion-view>