
<ion-view>
  <ion-header-bar class="bar-color header-font">
  <h3 class="header-font">Off The Truck</h3>
  </ion-header-bar>
  <ion-content class="map-content" scroll="false">
  <div id="map-container" data-tap-disabled="true">Map Container</div>
  </ion-content>
  <ion-content scroll="true" class="user-content-list" ng-controller="TruckController">
    <div class="card" ng-repeat="(key, value) in trucks">
      <div class="item item-text-wrap">
        Truck name: {{value.truckname}}
      </div>
    </div>
  </ion-content>
</ion-view>