
<ion-view>
  <ion-header-bar class="bar-color header-font">
  <h3 class="header-font">Off The Truck</h3>
  </ion-header-bar>
  <!-- This is the main page, which displays the map of currently selling trucks. -->

  <ion-content class="map-content" scroll="false">
  <!-- We are not sure why, but data-tap-disabled needs to be true in order for you to tap on your phone. -->
  <div id="map-container" data-tap-disabled="true">Map Container</div>
  </ion-content>
  <ion-content scroll="true" class="user-content-list" ng-controller="TruckController">
    <!-- NG-repeat adds these 'cards' (ionic css display type) to the list below our map -->
    <div class="truck-list" ng-repeat="(key, value) in trucks">
        <div class="truck-list-pc">Picture container</div>
        <div class="truck-list-info">
          <div class="truck-list-rating"><span>☆</span><span>☆</span><span>☆</span><span>☆</span><span>☆</span></div>
          <div class="truck-list-tn">{{value.truckname}} </div>
        </div>
        <a href="/" class="truck-list-menu">Menu</a>
    </div>
  </ion-content>
</ion-view>