<ion-view>
  <ion-header-bar class="bar-color header-font">
  <span class="header-font">Off The Truck</span>
  </ion-header-bar>
  <div id="map-container">Map Container</div>
  <ion-content class="user-content-list">
    <div class="truck-list">I am a truck list</div>
    <div class="truck-list">I am a truck list</div>
    <div class="truck-list">I am a truck list</div>
    <div class="truck-list">I am a truck list</div>
    <div class="truck-list">I am a truck list</div>
    <div class="truck-list">I am a truck list</div>
  </ion-content>
</ion-view>