body {
  font-family: 'Lato', sans-serif;
}
input {
  font-family: 'Lato', sans-serif;
}
/* main page css */
.button-font {
  font-size: 30px;
  color: white;
  font-family: 'Lato', sans-serif;
}
.link-font {
  font-size: 20px;
  color: white;
  font-family: 'Lato', sans-serif;
  border-bottom: 3px solid white;
}

.white-font{
  font-size: 10px;
  color:white;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}
.main-container {
  display:block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: #FF3E15;
}
.main-button {
  display: block;
  background-color: #DC2600;
  text-align: center;
  padding-top: 10px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 30px auto;
  width: 70vw;
  height: 50px;
  box-shadow:1px 5px 4px 0px rgba(0,0,0, 0.298039);
  text-decoration: none;

}
.main-button:active {
  box-shadow: 0 0 0 0;
}
.logo-container {
  display: block;
  margin: 50px auto;
  border: 8px solid white;
  background-color: #CAD6D7;
  border-radius: 50%;
  text-align: center;
  width: 150px;
  height: 150px;
  box-shadow:1px 5px 4px 0px rgba(0,0,0, 0.298039);
  padding-top: 50px;
}
.footer {
  display:block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.main-signup {
  display: block;
  text-align: center;
  margin-top:50px;
}

/*User page CSS*/
.bar-color {
  background-color: #FF3E15;
}
.header-font {
  display: block;
  color: white;
  text-align: center;
}
.user-content-list{
  top: 214px;
  background-color: rgba(189, 195, 199,1.0);
}
#map-container {
  display:block;
  position: absolute;
  width: 100vw;
  height: 170px;
  top: 44px;
  background-color: green;
  text-align: center;
}
.truck-list {
  display:block;
  width: 80vw;
  height: 10vh;
  margin: 15px auto;
  border: 1px solid red;
  text-align: center;
  padding-top: 10px;

}
.user-file {
  border-radius: 5px ;
}

/*vendor page  v: stands for vendor*/
.vhour-box {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 3px;
}
.vhour-text {
  color: white;
}
.vhour-container {
  display: block;
  text-align: center;
}