html {
  font-family: 'Montserrat', sans-serif !important;
}

h1,h2,h3,h4,h5 {
  font-family: 'Montserrat', sans-serif !important;
}

body {
  font-family: 'Montserrat', sans-serif !important;
}
input {
  font-family: 'Montserrat', sans-serif;
}

a, a:link, a:visited, a:hover, a:active {
  text-decoration: none !important;
}

/* main page css */
.app-name {
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  margin-top: 0px;
  margin-bottom: 50px;
}
.button-font {
  font-size: 30px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.white-font{
  font-size: 10px;
  color:white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
.main-container {
  display:block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background-color: white;
}
.main-button {
  display: block;
  background-color: #DC2600;
  text-align: center;
  padding-top: 10px;
  border: 2px solid white;
  border-radius: 5px;
  margin: 30px auto;
  width: 70vw;
  height: 50px;
  box-shadow:1px 5px 4px 0px rgba(0,0,0, 0.298039);
  text-decoration: none;
}
.main-button:active {
  box-shadow: 0 0 0 0;
}

.footer {
  display:block;
  position: absolute;
  bottom: 0;
  right: 0;
}


/*User page CSS*/
h1.title {
  color: white;
}

.bar-color {
  background-color: #67191c;
  color: white;
}

.header-font {
  padding-top: 5px;
  display: block;
  color: white;
  text-align: center;
  font-size:18px;
  margin: 0;
}


.user-content-list{
  top: 56%;
  background-color: rgba(189, 195, 199, 0.3);
}
#map-container {
  display:block;
  width: 100%;
  height: 100%;
}
.map-content {
  /*height: 50%;*/
  height: 49.8%;
}
.user-file {
  border-radius: 5px ;
}
/*truck list*/
.truck-list {
  display: block;
  /*box-shadow:2px 3px 11px 0px rgba(0,0,0, 0.298039);*/
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 8px;
  height: 10vh;
  text-align: center;
  padding-top: 10px;

}
.truck-list-pc {
  display: inline-block;
  background-color: rgba(189, 195, 199, 1.0);
  margin-left: 10px;
  width: 18%;
  height: 85%;
  float: left;

}
.truck-list-info {
  display: inline-block;
  width: 70%;
  text-align: left;
  margin-top: 10px;
}
.truck-list-rating {
  margin-left: 15px;
  color: #DC2600;
}

.truck-list-rating > span:hover:before {
  content: "\2605";
  position: absolute;
  color: #DC2600;
}
.truck-list-tn {
  font-size:1.5em;
}

.truck-list-menu {
  float: left;
  padding-top: 10px;
  width: 18%;
  height: 80%;
  font-size: 2em;
  color: #DC2600;
}


/*vendor page  v: stands for vendor*/
.vhour-box {
  display: inline-block;
  margin-right: 10px;
  border: 1px solid white;
  border-radius: 3px;
}
.vhour-text {
  color: white;
}
.vhour-container {
  display: block;
  text-align: center;
}

/*Form validation*/
.css-form input.ng-invalid.ng-touched {
  background-color: #caaba5;
}

.css-form input.ng-valid.ng-touched {
  background-color: white;
}




/*New Styles*/

.full-width-button {
  margin: 0 auto;
}

.button.button-assertive {
  background-color: #67191c;
  min-height: 42px;
}

.button.button-assertive.activated {
  background-color: #491115;
}

.logo {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 250px;
}

.view-wrapper {
  margin: 0 auto;
  text-align: center;
}

.full-width-button {
  margin: 0 auto;
  border: 0;
  width: 85%;
  border-radius: 3px;
  font-size: 15px;
}

button.full-width-button {
  font-family: 'Montserrat', sans-serif !important;
  padding: 5px;
}

.full-width-button a{
  color: white;
}

a.full-width-button {
  color: white !important;
}

.main-view {
  background-image: url('../img/background.jpg');
  background-position: center;
}

.main-centered-link {
  display: block;
  text-align: center;
  margin-top:20px;
}

a.main-centered-link {
  color: black;
}

.bold {
  font-weight: bold;
}


/*login page lp :stands for login page*/
.lpform-container {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  width: 80vw;
}
.lpform-input {
  margin: 0 auto;
  width: 85%;
}

input.lpform-input {
  padding-left: 5px;
}

.lpform-button {
  width: 85%;
  margin-top: 10px;
  border-radius: 3px;
  padding: 7px;
}

input.lpform-button {
  background-color: #67191c;
  color: white;
}

.float-sides-wrapper {
  width: 85%;
  margin: 0 auto;
}

.lpsignup {
  display: block;
  text-align: center;
  margin-top:10px;
  margin-bottom: 5px;
  font-size: 12px;
}

.sides-wrapper-left {
  float: left;
}

.sides-wrapper-right {
  float: right;
}

span.link-font {
  color: black;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 3px solid white;
}

input.lpform-input-top {
  border: 1px solid #67191c;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
}

input.lpform-input-middle {
  border-top: 1px solid rgba(0,0,0,.1);
  border-radius: 0;
  border-left: 1px solid #67191c;
  border-right: 1px solid #67191c;
}

input.lpform-input-bottom {
  border: 1px solid #67191c;
  border-top: 1px solid rgba(0,0,0,.1);
  border-spacing: 5px;
  border-radius: 0 0 3px 3px;
  margin-bottom: 10px;
}

.error-message {
  margin-top: 50px;
  font-size: 12px;
}

.item {
  height: 50px;
}

textarea {
  font-family: 'Montserrat', sans-serif !important;
  margin-top: 65px;
  width: 85% !important;
}

.description-field {
  padding-top: 20px;
  padding-bottom: 80px;
}

span.input-label {
  text-align: left;
  width: 20px;
}

.fa.fa-globe, .fa.fa-info-circle {
  font-size: 20px;
}

span.truck-icon, span.mail-icon {
  padding-right: 11px;
}


.error-less-margin {
  margin-top: 5px;
}

.button.disabled, .button[disabled]{
  opacity: 1;
}
